@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Pangolin&family=Poppins:wght@500&family=Short+Stack&display=swap');

:root {
	--font-comic: 'Pangolin', cursive;
	--font-cur: 'Poppins', sans-serif;
	--font-prim: 'Do Hyeon', sans-serif;
	--body-bg:  #24292E;
	--table-side: #ff5a5f;
}

body {
	background-color: var(--body-bg);
}
	
table, th, td {
	border: 3px solid var(--table-side);
	color: white;
}


th, td {
  padding: 15px;
  font-family: var(--font-cur);
}

.graph {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header {
	text-align: center;

}
	
.nor-text {
	color:white;
	font-family: var(--font-prim);
}

h1 {
	font-family: var(--font-comic) !important;
}



.home {
	position: absolute;
	top: 0;
	right: 0;
}

.home-icon{
	color:#F03A47;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
	padding: 0.1em;
}

@media only screen and (max-width: 680px) {
	.graph {

		display: block;
		width: 100%;
		float: left;
	}
	.header {
		padding-top: 1em;
	}
}