<!doctype html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Co-Check</title>
	<meta name="description" content="Cowin vaccine checker">
	<meta name="author" content="@psychoSherlock">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

	   <!--Favicon-->
	   <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
	   <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
	   <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
	   <link rel="manifest" href="{{url_for('static', filename='site.manifest')}}">
   		<!--Favicon-->
  

	<body>

		<div class="nav__link">
			<a class="fa fa-home home-icon" style="font-size: 2.5em" href="/"></a>
		</div>
		<header>

			<div id="status-box">
				<h4 id="status">Status: </h4>
			</div>
			<h1>Co-Check</h1>
			<h3 style="text-transform: uppercase;">Check covid vaccine availabilty without OTP!</h3>
			<h3 class="nor-text">Found <span id="how_many"></span> centers on {{time}}</h3>
		</header>
			</div>
        </div>
	<div class="graph">
		<table>

			<!--Maybe later, I should shange this. So that if there is no data, we could display something else. But thats for another time-->
			<tr>
				<th>ID</th>
				<th>Center Name</th>
				<th>Age Limit</th>
				<th>Total Available</th>
				<th>Fee Type</th>
			</tr>

		</table>
	</div>
   </body>

	<footer>
		<h3 id="promo">Made with <i class="fa fa-heart" id="heart" aria-hidden="true"></i> by Athul Prakash</h3>
	</footer>

	<script>
		const url = "{{url}}"
	</script>

	<script src="{{url_for('static', filename='loadData.js')}}"></script>
</html>
