<!doctype html>
<html>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Co-Check</title>
	<meta name="description" content="Cowin vaccine checker">
	<meta name="author" content="@psychoSherlock">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">  /*FOr test*/
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
	<body>

		<div class="nav__link">
			<a class="fa fa-home home-icon" style="font-size: 2.5em" href="/"></a>
		</div>

		<h1>CO-Check</h1>
		<h3>Check covid vaccine availabilty without OTP!</h3>
		<h3 class="nor-text">Found {{items}} centers on {{time}}</h3>

				<footer>
					<h3 id="promo">Made with <i class="fa fa-heart" id="heart" aria-hidden="true"></i> by Athul Prakash</h3>
				</footer>
			</div>
        </div>

    </body>
</html>