<!doctype html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Athul's vaccine checker</title>
  <meta name="description" content="Cowin vaccine checker">
  <meta name="author" content="@psychoSherlock">
   <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
  
   <body>
	   <div class="header">

		<h1 class="nor-text">Athul's Personal Cowaccine checker</h1>
		<h3 class="nor-text">Without OTP :D</h3>
		<h4 class="nor-text">Found {{items}} centers on {{time}}</h4>

		<div id="date-div">
			<label for="date-field">Vaccine for </label>
			<input type="date" name="Choose date" id="date-field">
			<button>Search</button>
		</div>

		</div>
<div class="graph">
	<table>
		<tr>
			<th>ID</th>
			<th>Center Name</th>
			<th>Age Limit</th>
			<th>Total Capacity</th>
		</tr>
	{%for i in range(items)%}
		{%set centerName = jsonData['sessions'][i]['name']%}
		{%set vaccineName = jsonData['sessions'][i]['vaccine']%}
		{%set age_limit = jsonData['sessions'][i]['min_age_limit']%} 
		{%set totalCapacity = jsonData['sessions'][i]['available_capacity']%}
		{%set dose1 = jsonData['sessions'][i]['available_capacity_dose1']%}
		{%set dose2 = jsonData['sessions'][i]['available_capacity_dose2']%}
		

		<tr>

				<td>{{i}}</td>
				<td>{{centerName}}</td>
				<td>{{age_limit}}</td>
				<td>{{totalCapacity}}</td>
		</tr>
	{%endfor%}
	</table>
</div>
   </body>
</html>
